PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/cx_guardian_db
JWT_SECRET=supersecretjwtkeychangeinproduction
PYTHON_AI_URL=http://localhost:8000
AI_TIMEOUT=30000
MAX_RETRIES=3
CLIENT_URL=http://localhost:5173
